<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">

      {% for author in site.data.authors %}
        <ul class="contact-list">
          <li>{{ author.name }}</li>
          <li>
            <a href="mailto:{{ author.email }}">{{ author.email }}</a>
          </li>
        </ul>
      {% endfor %}

      </div>

      <div class="footer-col footer-col-2">

      {% for author in site.data.authors %}
        <ul class="social-media-list">
          <li>
            {% include icon-github.html username=author.github %}
          </li>
          <li>
            {% include icon-twitter.html username=author.twitter %}
          </li>
        </ul>
      {% endfor %}


      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
